<template>
  <q-page class="q-pa-lg" style="max-width: 400px">
    <q-card>
      <q-card-section>
        <h5 class="q-mt-none">Forms</h5>
        <q-input
          class="q-mb-sm"
          filled
          ref="nameRef"
          v-model="name"
          label="Full name"
          :rules="nameRule"
        />
        <q-select
          class="q-mb-sm"
          clearable
          filled
          ref="favRef"
          v-model="fav"
          :options="favOptions"
          label="Choose one"
          :rules="nameRule"
        />
        <q-toggle
          class="q-mb-sm"
          v-model="acceptTerms"
          label="I accept the license and terms!"
        />
      </q-card-section>
      <q-separator />
      <q-card-section>
        <q-btn label="Submit" color="primary" @click="showDialog" />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script lang="ts">
import { ref } from 'vue';
import { useQuasar } from 'quasar';
import { VInput } from '../components/models';

export default {
  name: 'page-forms',
  setup() {
    const $q = useQuasar();
    const name = ref('');
    const nameRef = ref<VInput>();
    const nameRule = [
      (val: string) => (!!val && val.length > 0) || 'Fill in full name!',
    ];
    const fav = ref<string | null>(null);
    const favRef = ref<VInput>();
    const favOptions = ['Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'];
    const favRule = [
      (val: string) => favOptions.includes(val) || 'Choose a favourite!',
    ];
    const acceptTerms = ref(false);

    function showDialog() {
      // (nameRef.value as Element & { validate: () => boolean }).validate();
      nameRef.value?.validate();
      favRef.value?.validate();

      // (nameRef.value as string & {validate:() => Boolean}).validate();
      if (nameRef.value?.hasError || favRef.value?.hasError) {
      } else if (!acceptTerms.value) {
        $q.notify({ color: 'negative', message: 'Accept the terms!' });
      } else {
        $q.dialog({
          title: 'Form submit<em>!</em>',
          message: `
          <p>Full name: <strong>${name.value}</strong></p>
          <p>Favourite: <strong>${fav.value || ''}</strong></p>
          `,
          html: true,
          persistent: true,
        })
          .onOk(() => {
            // console.log('OK1')
          })
          .onCancel(() => {
            // console.log('Cancel1')
          })
          .onDismiss(() => {
            // console.log('I am triggered on both OK and Cancel')
          });
      }
    }

    return {
      name,
      nameRef,
      nameRule,
      fav,
      favRef,
      favOptions,
      favRule,
      showDialog,
      acceptTerms,
    };
  },
};
</script>
