<template>
  <q-page class="q-pa-lg">
    <h5 class="q-mt-none">Help</h5>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quis ex
      consequuntur autem error incidunt voluptatum, optio consequatur molestias,
      ea inventore tempora eaque nemo? Praesentium laboriosam mollitia illum
      suscipit quia.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quis ex
      consequuntur autem error incidunt voluptatum, optio consequatur molestias,
      ea inventore tempora eaque nemo? Praesentium laboriosam mollitia illum
      suscipit quia.
    </p>
  </q-page>
</template>

<script>
export default {
  name: 'page-help',
};
</script>
