<template>
  <q-page class="q-pa-lg" style="max-width: 400px">
    <q-card>
      <q-card-section>
        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
          <q-input
            outlined
            v-model="name"
            label="Your name *"
            hint="Name and surname"
            lazy-rules
            :rules="nameRule"
            clearable
          />

          <q-input
            outlined
            type="number"
            v-model="age"
            label="Your age *"
            lazy-rules
            :rules="ageRule"
          />

          <q-toggle v-model="accept" label="I accept the license and terms" />

          <div>
            <q-btn label="Submit" type="submit" color="primary" />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="q-ml-sm"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { ref } from 'vue';

export default {
  name: 'page-qforms',
  setup() {
    const $q = useQuasar();

    const name = ref<string | null>(null);
    const nameRule = [
      (val: string) => (val && val.length > 0) || 'Please type something',
    ];
    const age = ref<number | null>(null);
    const ageRule = [
      (val: string | null) =>
        (val !== null && val !== '') || 'Please type your age',
      (val: number) => (val > 0 && val < 100) || 'Please type a real age',
    ];
    const accept = ref(false);

    return {
      name,
      nameRule,
      age,
      ageRule,
      accept,

      onSubmit() {
        if (accept.value !== true) {
          $q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'You need to accept the license and terms first',
          });
        } else {
          $q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'cloud_done',
            message: 'Submitted',
          });
        }
      },

      onReset() {
        name.value = null;
        age.value = null;
        accept.value = false;
      },
    };
  },
};
</script>
