<template>
  <q-page class="bg-grey-3 column">
    <div class="row q-pa-sm bg-primary">
      <q-input
        class="col"
        filled
        square
        bg-color="white"
        v-model="newTask"
        dense
        placeholder="Add Task"
        @keyup.enter="addTask"
      >
        <template v-slot:append>
          <q-btn round dense flat icon="add" @click.stop="addTask" />
        </template>
      </q-input>
    </div>
    <q-list class="bg-white" separator bordered>
      <q-item
        v-ripple
        v-for="(task, index) in tasks"
        :key="task.id"
        @click="toggleTaskDone(task)"
        clickable
        :class="{ 'done bg-blue-1': task.done }"
      >
        <q-item-section avatar>
          <q-checkbox
            v-model="task.done"
            class="no-pointer-events"
            color="primary"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ task.title }}</q-item-label>
        </q-item-section>
        <q-item-section v-if="task.done" side>
          <q-btn
            flat
            round
            dense
            color="primary"
            icon="delete"
            @click.stop="deleteTask(index)"
          />
        </q-item-section>
      </q-item>
    </q-list>

    <div v-if="!tasks.length" class="no-tasks absolute-center">
      <q-icon name="check" size="100px" color="primary" />
      <div class="text-h5 text-primary text-center">No tasks</div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { Task } from '../components/models';
import { useQuasar } from 'quasar';
export default defineComponent({
  name: 'page-todo',
  setup() {
    const $q = useQuasar();
    const newTask = ref<string>('');
    const tasks = ref<Task[]>([
      { id: 1, title: 'a', done: true },
      { id: 2, title: 'b', done: true },
    ]);

    function addTask() {
      const oTask: Task = {
        id: new Date().getDate(),
        title: newTask.value,
        done: false,
      };
      tasks.value.unshift(oTask);
      newTask.value = '';
      $q.notify('Task added to list!');
    }

    function deleteTask(idx: number) {
      $q.dialog({
        title: 'Confirm',
        message: 'Really delete?',
        cancel: true,
        persistent: false,
      }).onOk(() => {
        tasks.value.splice(idx, 1);
        $q.notify('Task deleted!');
      });
    }

    return {
      newTask,
      tasks,
      toggleTaskDone(t: Task) {
        t.done = !t.done;
      },
      addTask,
      deleteTask,
    };
  },
});
</script>

<style lang="scss" scoped>
.done {
  .q-item__label {
    text-decoration: line-through;
    color: #bbb;
  }
}
.no-tasks {
  opacity: 0.5;
}
</style>
